hr{
    border-color: rgb(0, 0, 0);
    opacity: 1;
}
.icon{ 
    min-height: 25px;
    max-width: 25px;
}
#carrosel{
    width: 700px;
    height: 400px;
}
.imgcolegas{
    object-fit: contain;
    
}
.card {
    height: 100%;
}